.content-holder {
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    z-index: 1;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}


.fade {
    z-index: 13;
}


/* ------------------TREE--------------------- */

.tree {
    position: absolute;
    z-index: 21;
    bottom: 0px;
    /* margin-top: 1150px; */
    margin-left: -113rem;
    animation: moveLeftToRight 9s linear infinite;
    background-repeat: repeat-x;
}

@keyframes moveLeftToRight {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(50%);
    }
}

.tree1 {
    position: absolute;
    z-index: 22;
    bottom: 0px;

    /* Adjust the starting position based on the first animation */
    animation: moveLeftToRight2 9s linear infinite;
}

@keyframes moveLeftToRight2 {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(50%);
    }
}

/* ---------------------------------------------- */

.mountain-5-right {
    position: absolute;
    z-index: 15;
    top: calc(75% + 2.776%);
    left: calc(-4% - 0px);
    scale: 100%;
}

.mountain-7-left {
    position: absolute;
    top: calc(70% + 7.188%);
    scale: 100%;
    left: calc(-13% - 0px);
    z-index: 14;
}

.img-bg {
    position: absolute;
    width: 215.385%;
    height: 4500px;
    top: calc(50% - 0px);
    left: calc(50% - 0px);
    transform: translate(-50%, -50%);
    z-index: -2;

}

.stars {
    position: absolute;
    width: 100%;
    top: 48.437%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.sun {
    position: absolute;
    width: 6.154%;
    top: 68.588%;
    left: 61.538%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.logo {
    position: absolute;
    width: 38.462%;
    top: calc(50% - 7.813%);
    left: calc(50% - 0px);
    transform: translate(-50%, -50%);
    z-index: 4;
}

.wave-left {
    position: absolute;
    width: 100%;
    top: calc(50% + 9.813%);
    left: calc(50% - 1%);
    transform: translate(-50%, -50%);
    z-index: 4;
}

.mountain-0-right {
    position: absolute;
    width: 38.462%;
    top: calc(50% + 23.438%);
    left: calc(50% + 29.462%);
    transform: translate(-50%, -50%);
    z-index: 4;
}

.mountain-1-left {
    position: absolute;
    width: 64.615%;
    top: calc(50% + 24.438%);
    left: calc(50% - 20%);
    transform: translate(-50%, -50%);
    z-index: 6;
}


.mountain-2-right {
    position: absolute;
    width: 61.538%;
    top: calc(50% + 23.313%);
    left: calc(50% + 21.369%);
    transform: translate(-50%, -50%);
    z-index: 7;
}

.mountain-3-left {
    position: absolute;
    width: 75.485%;
    top: calc(50% + 34.375%);
    left: calc(50% - 14.546%);
    transform: translate(-50%, -50%);
    z-index: 8;
}

.mountain-5-left {
    position: absolute;
    width: 54.846%;
    height: 40%;
    top: calc(55% + 46.188%);
    left: calc(50% - 6.923%);
    transform: translate(-50%, -50%);
    z-index: 9;
}

.mountain-4-right {
    position: absolute;
    width: 53.538%;
    height: 70%;
    top: calc(52% + 33.25%);
    left: calc(50% + 25.385%);
    transform: translate(-50%, -50%);
    z-index: 10;
}

.mountain-6-left {
    position: absolute;
    width: 35.615%;
    height: 50%;
    top: calc(50% + 44.188%);
    left: calc(50% - 34.615%);
    transform: translate(-50%, -50%);
    z-index: 11;
}

@media (max-width: 725px) {
    .img-bg {
        width: initial;
        height: 304.616%;
    }

    .stars {
        width: initial;
        height: 50%;
    }

    .logo {
        width: initial;
        height: 35%;
    }

    .sun {
        width: initial;
        height: 10%;
    }

    .wave-left {
        width: initial;
        height: 30%;
    }

    .mountain-0-right {
        width: initial;
        height: 11.539%;
    }

    .mountain-1-left {
        width: initial;
        height: 13.384%;
    }

    .mountain-2-right {
        width: initial;
        height: 24.461%;
    }

    .mountain-3-left {
        width: initial;
        height: 20.776%;
    }

    .mountain-5-left {
        width: initial;
        height: 17.754%;
    }

    .mountain-4-right {
        width: initial;
        height: 35.661%;
    }

    .mountain-6-left {
        width: initial;
        height: 16.984%;
    }
}


/* .overview */

.ovstardiv {
    position: absolute;
    z-index: 19;
    width: 100%;
    top: 150%;
    height: 2000px;
    overflow: hidden;
}

.ovstar {
    z-index: 19;
    width: 100%;
    height: 100%;
}

/* Speaker Section  */

.speakerSection {
    /* padding-top: 7%; */
    z-index: 20;
    position: relative;
    height: 500px;
    width: 70%;
    margin: auto;
}

.speakerHeading {
    text-align: center;
    margin-bottom: 7%;
    padding-bottom: 5%;
}

.speakerHeading h1 {
    font-size: 50px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: 900;
    animation: glow 1s ease-in-out infinite alternate;
}

.speaker-slider-container {
    position: relative;
    height: 370px;
    padding-top: 2%;
    padding-bottom: 2%;
    overflow: hidden;
    /* margin-top: 8rem; */
}

.speaker-slider-scroller {
    position: absolute;
    top:10%;
    left: 0px;
    overflow: hidden;
    display: flex;
    gap:80px;
    white-space: nowrap;
    animation: scroll 90s linear infinite;
}

.speaker-slider-scroller:hover{
    animation-play-state : paused;
}


@keyframes scroll {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-47.2%);
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 7px #fff, 0 0 10px #ffffff;
    }

    to {
        text-shadow: 0 0 20px #fff
    }
}

@media (max-width:725px) {
    .speakerSection {
        padding-top: 0px;
        height: 350px;
    }

    .speakerHeading h1 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .speaker-slider-scroller {
        height: 250px;
    }
}


/*EVENTS*/



.EventSection {
    /* padding-top: 7%; */
    z-index: 20;
    position: relative;
    height: 500px;
    width: 70%;
    margin: auto;
}

.EventHeading {
    text-align: center;
    margin-bottom: 7%;
    padding-bottom: 2%;
}

.EventHeading h1 {
    font-size: 50px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    font-weight: 900;
    animation: glow 1s ease-in-out infinite alternate;
}

.Event-slider-container {
    position: relative;
    height: 370px;
    padding-top: 2%;
    padding-bottom: 2%;
    overflow: hidden;
    margin-top: 7rem;
}


.Event-slider-scroller {
    position: absolute;
    top:10%;
    right: 0px;
    overflow: hidden;
    display: flex;
    gap:80px;
    white-space: nowrap;
    animation: scroll2 50s linear infinite;
}



.Event-slider-scroller:hover{
    animation-play-state : paused;
}



@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(51.2%);
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 7px #fff, 0 0 10px #ffffff;
    }

    to {
        text-shadow: 0 0 20px #fff
    }
}

@media (max-width:725px) {
    .EventSection {
        padding-top: 0px;
    }

    .EventHeading h1 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .Event-slider-scroller {
        height: 300px;
        width: calc(250px*9);
    }

    .ovstardiv {
        height: 1200px;
    }

    .mountain-5-right {
        height: 180%;
    }

    .mountain-7-left {
        height: 180%;
    }

}