.content-holder {
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.para {
    color: rgb(205, 199, 249);
    font-size: 1.4em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 560px;
    margin-left: 818px;
    z-index: 29;
    position: absolute;
}

.fade {
    z-index: 13;
}


/* ------------------NEW--------------------- */

.tree {
    position: absolute;
    z-index: 16;
    margin-top: 1150px;
    margin-left: -110rem;
    animation: moveLeftToRight 10s linear infinite;
    background-repeat: repeat-x;
}

@keyframes moveLeftToRight {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(47.5%);
    }
}

.tree1 {
    position: absolute;
    z-index: 16;
    margin-top: 1150px;
    /* margin-left: -1500px; */
    transform: scaleX(-1);
    /* Adjust the starting position based on the first animation */
    animation: moveLeftToRight2 10s linear infinite;
}

@keyframes moveLeftToRight2 {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(47.5%);
    }
}

/* ---------------------------------------------- */

.overview {
    opacity: 0;
}

.overviewbox {
    position: absolute;
    z-index: 30;
    margin-left: -600px;
    margin-top: 850px;
    animation: shake 0.5s ease-in-out infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(-5px);
        /* Adjust the distance to shake */
    }

    50% {
        transform: translateX(5px);
        /* Adjust the distance to shake */
    }
}

.overviewtext {
    position: absolute;
    z-index: 31;
    margin-left: -550px;
    margin-top: 850px;
}

.text {
    position: absolute;
    z-index: 17;
    scale: 60%;
    top: 900px;
    left: 660px;
    opacity: 0;
}

.mountain-5-right {
    position: absolute;
    z-index: 15;
    top: calc(50% + 2.188%);
    left: calc(-4% - 0px);
    scale: 80%;
}

.mountain-7-left {
    position: absolute;
    top: calc(50% + 7.188%);
    scale: 80%;
    left: calc(-13% - 0px);
    z-index: 14;
}

.img-bg {
    position: absolute;
    width: 215.385%;
    top: calc(50% - 0px);
    left: calc(50% - 0px);
    transform: translate(-50%, -50%);
    z-index: -2;

}

.stars {
    position: absolute;
    width: 100%;
    top: 48.437%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.sun {
    position: absolute;
    width: 6.154%;
    top: 68.588%;
    left: 61.538%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.logo {
    position: absolute;
    width: 38.462%;
    top: calc(50% - 7.813%);
    left: calc(50% - 0px);
    transform: translate(-50%, -50%);
    z-index: 4;
}

.wave-left {
    position: absolute;
    width: 100%;
    top: calc(50% + 9.813%);
    left: calc(50% - 1%);
    transform: translate(-50%, -50%);
    z-index: 4;
}

.mountain-0-right {
    position: absolute;
    width: 38.462%;
    top: calc(50% + 23.438%);
    left: calc(50% + 29.462%);
    transform: translate(-50%, -50%);
    z-index: 4;
}

.mountain-1-left {
    position: absolute;
    width: 64.615%;
    top: calc(50% + 24.438%);
    left: calc(50% - 20%);
    transform: translate(-50%, -50%);
    z-index: 6;
}


.mountain-2-right {
    position: absolute;
    width: 61.538%;
    top: calc(50% + 23.313%);
    left: calc(50% + 21.369%);
    transform: translate(-50%, -50%);
    z-index: 7;
}

.mountain-3-left {
    position: absolute;
    width: 75.485%;
    top: calc(50% + 34.375%);
    left: calc(50% - 14.546%);
    transform: translate(-50%, -50%);
    z-index: 8;
}

.mountain-5-left {
    position: absolute;
    width: 54.846%;
    top: calc(50% + 46.188%);
    left: calc(50% - 6.923%);
    transform: translate(-50%, -50%);
    z-index: 9;
}

.mountain-4-right {
    position: absolute;
    width: 53.538%;
    top: calc(50% + 33.25%);
    left: calc(50% + 25.385%);
    transform: translate(-50%, -50%);
    z-index: 10;
}

.mountain-6-left {
    position: absolute;
    width: 35.615%;
    top: calc(50% + 44.188%);
    left: calc(50% - 34.615%);
    transform: translate(-50%, -50%);
    z-index: 11;
}

@media (max-width: 725px) {
    .img-bg {
        width: initial;
        height: 304.616%;
    }

    .stars {
        width: initial;
        height: 50%;
    }

    .logo {
        width: initial;
        height: 35%;
    }

    .sun {
        width: initial;
        height: 10%;
    }

    .wave-left {
        width: initial;
        height: 30%;
    }

    .mountain-0-right {
        width: initial;
        height: 11.539%;
    }

    .mountain-1-left {
        width: initial;
        height: 13.384%;
    }

    .mountain-2-right {
        width: initial;
        height: 24.461%;
    }

    .mountain-3-left {
        width: initial;
        height: 20.776%;
    }

    .mountain-5-left {
        width: initial;
        height: 17.754%;
    }

    .mountain-4-right {
        width: initial;
        height: 35.661%;
    }

    .mountain-6-left {
        width: initial;
        height: 16.984%;
    }
}