.content-holder {
    display: flex;
    flex-direction: column;
}

.main {
    position: relative;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: auto;
}

.parallax {
    pointer-events: none;
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}

.img-bg {
    position: absolute;
    width: 215.385%;
    top: calc(50% - 0px);
    left: calc(50% - 0px);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.stars {
    position: absolute;
    width: 100%;
    top: 48.437%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.sun {
    position: absolute;
    width: 6.154%;
    top: 68.588%;
    left: 61.538%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.logo {
    position: absolute;
    width: 38.462%;
    top: calc(50% - 7.813%);
    left: calc(50% - 0px);
    transform: translate(-50%, -50%);
    z-index: 4;
}

.wave-left {
    position: absolute;
    width: 100%;
    top: calc(50% + 9.813%);
    left: calc(50% - 1%);
    transform: translate(-50%, -50%);
    z-index: 4;
}

.mountain-0-right {
    position: absolute;
    width: 38.462%;
    top: calc(50% + 23.438%);
    left: calc(50% + 29.462%);
    transform: translate(-50%, -50%);
    z-index: 5;
}

.mountain-1-left {
    position: absolute;
    width: 64.615%;
    top: calc(50% + 24.438%);
    left: calc(50% - 20%);
    transform: translate(-50%, -50%);
    z-index: 6;
}


.mountain-2-right {
    position: absolute;
    width: 61.538%;
    top: calc(50% + 23.313%);
    left: calc(50% + 21.369%);
    transform: translate(-50%, -50%);
    z-index: 7;
}

.mountain-3-left {
    position: absolute;
    width: 75.485%;
    top: calc(50% + 34.375%);
    left: calc(50% - 14.546%);
    transform: translate(-50%, -50%);
    z-index: 8;
}

.mountain-5-left {
    position: absolute;
    width: 54.846%;
    top: calc(50% + 46.188%);
    left: calc(50% - 6.923%);
    transform: translate(-50%, -50%);
    z-index: 9;
}

.mountain-4-right {
    position: absolute;
    width: 53.538%;
    top: calc(50% + 33.25%);
    left: calc(50% + 25.385%);
    transform: translate(-50%, -50%);
    z-index: 10;
}

.mountain-6-left {
    position: absolute;
    width: 35.615%;
    top: calc(50% + 44.188%);
    left: calc(50% - 34.615%);
    transform: translate(-50%, -50%);
    z-index: 11;
}

@media (max-width: 725px) {
    .img-bg {
        width: initial;
        height: 304.616%;
    }

    .stars {
        width: initial;
        height: 50%;
    }

    .logo {
        width: initial;
        height: 35%;
    }

    .sun {
        width: initial;
        height: 10%;
    }

    .wave-left {
        width: initial;
        height: 30%;
    }

    .mountain-0-right {
        width: initial;
        height: 11.539%;
    }

    .mountain-1-left {
        width: initial;
        height: 13.384%;
    }

    .mountain-2-right {
        width: initial;
        height: 24.461%;
    }

    .mountain-3-left {
        width: initial;
        height: 20.776%;
    }

    .mountain-5-left {
        width: initial;
        height: 17.754%;
    }

    .mountain-4-right {
        width: initial;
        height: 35.661%;
    }

    .mountain-6-left {
        width: initial;
        height: 16.984%;
    }
}