-----------------------------------------WHY US SECTION----------------------------------------------------------- */ .switch-container {
    width: 80%;
    background: transparent;
    position: relative;
    /* translate: 15%; */

    border: 2px solid grey;
    border-radius: 5%;
}


.section-button {
    padding: 10px;
    margin: 5px;
    /* Add margin to create gaps between buttons */
    cursor: pointer;

}

.section {
    display: none;
    padding: 20px;
    border: 1px solid #504949;
    margin-top: 0%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.section.active {
    display: block;
    /* background-color: #ddd; */
    /* Gray background color for the active section */
    background: transparent;
}



.sectionContainer {
    display: block;
    align-items: center;
    justify-content: center;

}

.button {
    margin-left: 2%;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    /* border: 2px solid blue; */
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
    text-decoration: underline;
}

.button.active {
    /* background-color: grey; */
    text-decoration: underline;
    color: white;
    animation: glow 1s ease-in-out infinite alternate;
    border-color: transparent;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 7px #fff, 0 0 10px #ffffff;
    }

    to {
        text-shadow: 0 0 20px #fff
    }
}

/* }
-------------------------------------------------------------------------------------------------- */