:root {
    --img-width: 5vw;
}


.active {
    background-color: #ffffffff;
    color: #000000;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    /* Change for testing */
    /* position: sticky; */
    /* background-color: #000000; */
    /* ---------------- */
    z-index: 999;
    top: 0;
    left: 0;
    padding-right: 1rem;
}

nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    /* new */
    width: 50%;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    /* prevents from overflowing into two lines */
}

/* Log out button */
nav ul li button {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    background-color: #0051ff;
}

nav img {
    width: var(--img-width);
    margin: 0.5rem 0 0 0.5rem;
}

/* prevents active link to be clicked again */
nav ul li a:not(.active):hover {
    background-color: #d3cccc;
    color: black;
}


nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}


/* To stop logo from shrinking  */
@media (max-width: 1150px) {
    nav img {
        width: calc(var(--img-width) + 1vw);
    }
}

@media (max-width: 900px) {
    nav img {
        width: calc(var(--img-width) + 2vw);
    }
}

/* ------------------------------ */


/* making it responsive */
@media (max-width: 725px) {
    nav .menu {
        display: flex;
    }

    nav img {
        width: calc(var(--img-width) + 3vw);
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        /* position: sticky; */
        background-color: #000000;
    }

    nav ul {
        display: none;
        /*comment this to edit folded view*/
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}